*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.home{
    font-family: montserrat;
}
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
    z-index: 999;
}
.logo{
    color:white;
    font-size: 50px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li *{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
    border-radius: 3px;
}
a:active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.body{
    margin-top: 80px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh-90px);
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
 
.card-single{
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-radius: 2px;
    cursor: pointer;
}

.card-single div:last-child span{
     font-size: 3rem;
     color: #1b9bff;
}

.card-single div:first-child span{
    color: gray;
}

.card-single:hover{
    background: #1b9bff;
}

.card-single:hover h1,
.card-single:hover div span{
    color: #fff;
}

/* .card-single:last-child h1,
.card-single:last-child div:last-child span,
.card-single:last-child div:first-child span{
    color: #fff;
} */

.recent-grid{
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: 67% auto;

}

.card{
    background: #fff;
    border-radius: 5px;
}

.card-header, .card-body{
    padding: 1rem;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.card-header button{
    background: cornflowerblue;
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid #1b9bff;
}

table{
    border-collapse: collapse;
}

thead tr{
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

thead td{
    font-weight: 700;
}

td{
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;
}

td .status{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}


@media (max-width: 952px){
    .logo{
        font-size: 35px;
        padding-left: 50px;
    }
    nav ul li *{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        z-index: 999;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li *{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
